// main: panorart.scss

.footer {
  background: #eee;
  padding-top: 1em;
  padding-bottom: 1em;
  color: black;
  border-width: 1px 0 0 0;
  border-color: #ddd;
  border-style: solid;
  a {
    color: #333;
  }
}
