// main: panorart.scss

$navbar-background: #ddd;
$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #0275d8 !default;
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;
$brand-inverse:             $gray-dark !default;

$pano-gray: #999;
$pano-charcoal: #222;
$pano-dark: #111;
$pano-danger: #d9534f;
$pano-primary: #337ab7;
$pano-success: #5cb85c;
$pano-warning: #f0ad4e;
$pano-light: #eee;
$pano-background: #f5f5f5;

$iphone5-width: 320px;
$iphone6-width: 375px;
$ipad-width: 768px;
$medium-width: 992px;
$full-width: 1200px;

$sidebar-width: 100px;
